/*max-width: 2em;*/
/*body{*/
/*margin-top: 10px;*/
/*}*/

.container {
  width: auto;
  max-width: 870px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@img{
    width: auto;
    height:  auto;
}